@model CreateDepartmentVM

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">Create new Department</h2>
        </div>
    </div>

    <div class="row my-3">
        <div class="col-12">
            <form method="post">
                <div class="mb-3">
                    <label for="Name" class="form-label">Name</label>
                    <input class="form-control" placeholder="Name" asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div asp-validation-summary="ModelOnly"
                     class="text-danger">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a asp-area="Admin"
                   asp-controller="Department"
                   asp-action="Index"
                   class="btn btn-secondary">
                    Cancel
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial">
}