@using System.Security.Claims
@using Microsoft.Extensions.Localization

@inject IStringLocalizerFactory Factory

@{
    var Localizer = Factory.Create(
        "SharedResource",
        "CorporateTrainingManagementSystem");
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - Corporate Training System</title>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css" />

    <!-- icheck bootstrap -->
    <link rel="stylesheet"
          href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />

    <!-- Theme style -->
    <link rel="stylesheet"
          href="~/AdminLTE/dist/css/adminlte.min.css" />

</head>

<body class="hold-transition @(ViewData["BodyClass"])">
    <div class="position-absolute"
     style="top:20px; right:20px; z-index:999;">

    <form asp-area=""
          asp-controller="Home"
          asp-action="SetLanguage"
          method="post">

        <input type="hidden"
               name="returnUrl"
               value="@Context.Request.Path@Context.Request.QueryString" />

        @{
            var culture = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
        }

        <select name="culture"
                class="form-control form-control-sm"
                onchange="this.form.submit()">

            @if (culture == "en")
            {
                <option value="en" selected>🇺🇸 English</option>
                <option value="ar">🇪🇬 العربية</option>
            }
            else
            {
                <option value="en">🇺🇸 English</option>
                <option value="ar" selected>🇪🇬 العربية</option>
            }

        </select>

    </form>

</div>

    @RenderBody()

    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>

    <partial name="_ValidationScriptsPartial" />

    <partial name="_NotificationPartial" />

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>