<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8" />

    <meta name="viewport"
          content="width=device-width, initial-scale=1" />

    <title>@ViewData["Title"] - Corporate Training System</title>

    <!-- Google Font -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700">

    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css" />

    <!-- icheck bootstrap -->
    <link rel="stylesheet"
          href="~/AdminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css" />

    <!-- Theme style -->
    <link rel="stylesheet"
          href="~/AdminLTE/dist/css/adminlte.min.css" />

</head>

<body class="hold-transition @(ViewData["BodyClass"])">

    @RenderBody()

    <!-- jQuery -->
    <script src="~/AdminLTE/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/AdminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE -->
    <script src="~/AdminLTE/dist/js/adminlte.min.js"></script>

    <partial name="_ValidationScriptsPartial" />

    <partial name="_NotificationPartial" />

    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>